services:
  - type: web
    name: analyseur-ebay
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.4
    autoDeploy: true
    healthCheckPath: /health